.footer{
  background: var(--blue-200);
  color: var(--white);

  .container{
    max-width: 1140px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;

    .row{
      display: grid;
      width: 821.41px;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: center;
      ul{
        list-style: none;
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 1.687rem;
        li:not(:last-of-type){
          margin-bottom: 30px;
        }
      }
      margin: 0 auto;
      .firstColumn{
        grid-column: 1/2;
        padding-left: 15px;
        padding-right: 15px;


      }
      .secondColumn{
        grid-column: 2/3;
        padding-left: 15px;
        padding-right: 15px;
      }
      .social{
        grid-column: 3/4;
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        flex-direction: column;
        justify-content: right;
        p{
          text-align: right;
          margin: 0 20px;
          font-weight: 600;
          margin-bottom: 15px;
        }
        img{
          width: 41px;
          height: 41px;
          margin: 0 9px;
          border-color: aliceblue;
        }
      }
    }
  }

}



.footerSuperior{
  padding-top: 40px;
  padding-bottom: 40px;
}

.copyrights{

  border-top: 1px solid hsla(0,0%,100%,.5);
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 10px;
  color: #fff;

  .container{
    max-width: 1140px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;

  }

  .row2{
    display: grid;
    width: 821.41px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    .columnLogo{
      grid-column: 1/2;
      img{
        width: 60px;
      }
      padding-right: 15px;
      padding-left: 15px;
    }
    .secondColumn{
      grid-column: 2/3;
      text-align: center;
    }
    .thirdColumn{
      grid-column: 3/4;
      text-align: center;
    }
  }
}
