.thumb{
  max-width: 350px;
  margin-bottom: 85px;

  img{
    border-radius: 11px;
  }

  &:hover .recipeDescription{
    margin-top: -60px;
  }

  .recipeDescription{
    background-color: var(--white);
    max-width: 320px;
    border-radius: 5.5px;
    margin-top: -50px;
    margin-left: 15px;
    margin: -50 auto 0 auto;
    padding: 15px;
    position: relative;
    box-shadow: 0 11px 22px 0 rgb(0 0 0 / 15%);
    transition: all .5s ease-in-out;


    .header{

      display: flex;
      justify-content: space-between;

      span{
        color: var(--orange-500);
        font-family: 'Lato', sans-serif;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
      }

    }

  }



}
